<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/css/productos.css" />
    <link rel="stylesheet" href="/css/registro.css" />
  </head>
  <body>
    <header id="header">
        <%- include('../../partials/header'); %>
    </header>
    <main class="services" id="contenedor">
        <div class="contenedorLogin">
            <div class="contenedorCentrado">
                <h2>Registro</h2>
                <form action="" method="POST" id="register-form">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Registrarse</button>
                </form>
                <% if (error) { %>
                    <p class="error"><%= error %></p>
                <% } %>
                <p>ya tienes una cuenta? <a href="/login">Inicia Sesion</a></p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <%- include('../../partials/footer'); %>
    </footer>
    <script src="./js/register.js"></script>
    <script src="./js/navbar.js"></script>
  </body>
</html>