
<div class="menu container">
    <a href="#" class="logo"></a>
    <input type="checkbox" id="menu" />
    <label for="menu">
        <img src="/img/menu.png" class="menu-icono" alt="cosa">
    </label>
    <nav class="navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/nosotros">Quienes somos</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li class="login"><a href="/login">Iniciar sesion</a></li>
            <li class="perfil"><a href="/perfil">Perfil</a></li>
            <li class="logout"><a href="/logout">Cerrar sesion</a></li>
            <li><a href="/carrito">carrito</a></li>
        </ul>
    </nav>
</div>
