#header{
  background-image: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url(../img/panaderia.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

#contenedor {
  display: block;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/catering.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

#contenedor h1 {
  font-size: 5rem;
}

#productos {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.producto {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  text-align: center;
  margin-top: 3%;
  transition: all 0.3s ease
}

.producto img {
  max-width: 100%;
  border-radius: 30px;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0px 10px 10px black;
}

.producto:hover {
  transform: scale(1.2);
}

@media(max-width:768px) {
  #header{
    min-height: 0vh;
  }

  .producto {
    flex: 0 0 calc(35% - 20px)
  }

}

@media (min-width: 768px) and (max-width: 1080px) {

  #header {
    min-height: 0vh;
  }

  .producto {
    flex: 0 0 calc(35% - 20px);
  }
  
}
