<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="./css/productos.css" />
  </head>
  <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main class="services" id="contenedor">
        <setion class="pedido">
        </setion>
    </main>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
    <script src="./js/carrito.js"></script>
    <script src="./js/navbar.js"></script>
  </body>
</html>
