<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="./css/contacto.css" />
    <script src="./js/contacto.js"></script>
</head>
<body>
    <header class="header">

        <%- include('../partials/header'); %>

        <div class="header-content container">

            <h1>Codo a Codo<br>Confiteria y Catering</h1>
            <p>
                ¡Bienvenido a nuestra pagina web!<br> Somos la mejor confiteria-panaderia online que vas a encontrar. <br>¿Necesitabas un servicio
                de catering? Somos tu solución. Desde medialunas, hasta tortas, sandwiches de miga y mucho más. Te invitamos a ver nuestros productos:
            </p>
            <a href="/productos" class="btn-1"><b>Ver productos</b></a>
        </div>

    </header>

    <main class="delicias">
        <div class="delicias-content container">
          <h2>¡Queremos conocerte!</h2>
          <p class="txt-p">
            Nos encantaría que te pusieras en contacto con nosotros, siempre
            podemos ofrecerte una solución que se adapte a tus necesidades.
          </p>
        </div>
        <form class="form" method="post">
          <label for="motive">Motivo:</label>
          <select name="Seleccione un motivo" id="motive" required>
            <option value="" disabled selected>Selecciona una opción...</option>
            <option value="value1">CONSULTA</option>
            <option value="value2">RECLAMO</option>
            <option value="value3">FELICITACIÓN</option>
          </select
          ><br /><br />
          <label for="name">Nombre</label><br />
          <input type="text" name="name" id="name" required /><br />
          <label for="surname">Apellido</label><br />
          <input type="text" name="surname" id="surname" required /><br />
          <label for="tel">Teléfono</label><br />
          <input type="tel" name="tel" id="tel" required /><br />
          <label for="email">Correo Electrónico</label><br />
          <input type="email" name="email" id="email" required /><br />
          <label for="message">Ingrese su mensaje o consulta aquí</label><br />
          <textarea name="message" id="message" cols="30" rows="10"></textarea
          ><br />
          <input type="checkbox" name="privacity" id="privacity" required /><label
            for="privacity"
            >Acepto la politica de privacidad</label
          ><br />
          <input type="submit" value="ENVIAR" onclick="validate()"/>
        </form>
      </main>

    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>