<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header class="header">

        <%- include('../partials/header'); %>

        <div class="header-content container">

            <h1>Codo a Codo<br>Confiteria y Catering</h1>
            <p>
                ¡Bienvenido a nuestra pagina web!<br> Somos la mejor confiteria-panaderia online que vas a encontrar. <br>¿Necesitabas un servicio
                de catering? Somos tu solución. Desde medialunas, hasta tortas, sandwiches de miga y mucho más. Te invitamos a ver nuestros productos:
            </p>
            <a href="productos.html" class="btn-1"><b>Ver productos</b></a>
        </div>

    </header>

    <section class="delicias">
        
        <div class="delicias-content container">
            <h2>¿Que es lo que más te gusta?</h2>
            <p class="txt-p">
                Tenemos para todos los gustos y todo lo que necesites. Cada creación nuestra es un manjar inolvidable. Un viaje de ida, un paraíso del cual nunca querrás 
                volver.
            </p>

            <div class="delicias-group">
                <div class="delicias-1">
                    <img src="img/facturas.png" alt="">
                    <h3>Dulces</h3>
                    <p>
                        Nuestras exquisiteces personales. Tenés que probar la crema pastelera casera que elaboramos. Te vá a encanatar.
                    </p>
                </div>
                <div class="delicias-1">
                    <img src="img/sandwich.png" alt="">
                    <h3>Salados</h3>
                    <p>
                        Si estas por armar un festejo, ya sea un cumpleaños, aniversario, casamiento o simplemente una noche con amigos te recomendamos 
                        nuestas delicias saladas. Nuestros sandwiches de miga son los mas rellenos que vas a ver.
                    </p>
                </div>
                <div class="delicias-1">
                    <img src="img/torta.png" alt="">
                    <h3>De todo</h3>
                    <p>
                        Si no te decidís, o decidiste que querés probar todo lo que hacemos no dudes en contratar nuestros servicios de catering Dulce &amp; Salado.
                    </p>
                </div>
            </div>
            <a href="nosotros.html" class="btn-1">Informacion</a>
        </div>

    </section>

    <main class="services">

        <div class="services-content container">
            <h2>Tipos de servicio</h2>

            <div class="services-group">

                <div class="services-1">
                    <img src="img/parallevar.png" alt="">
                    <h3>Para llevar</h3>
                </div>

                <div class="services-1">
                    <img src="img/tarta.png" alt="">
                    <h3>Pedido familiar</h3>
                </div>
                <div class="services-1">
                    <img src="img/mozo.png" alt="">
                    <h3>Catering</h3>
                </div>
            </div>

            <p>
                Tanto para un dia que necesites picar algo, hasta pedidos por encargo mas grandes como tamaño Familiar o Catering.<br>Mientras que el servicio familiar son reservas más pequeñas, el
                servicio de Catering esta pensado para eventos o festejos masivos.
            </p>
            <a href="#" class="btn-1">Informacion</a>
        </div>
    </main>

    <section class="general">

        <div class="general-1">
            <h2>Nuestra historia</h2>
            <p>
                Si querés saber como surgió nuestro emprendimiento o conocernos un poquito más, te invitamos a descubrir el trayecto que nos transformó en lo que somos hoy:
            </p>
            <a href="nosotros.html" class="btn-1">¿Quienes somos?</a>
        </div>
        <div class="general-2"></div>

    </section>

    <section class="general">

        <div class="general-3"></div>

        <div class="general-1">
            <h2>¿Alguna consulta? LLamanos.</h2>
            <p>
                Nuestro horario de atencion varía según el dia:
            </p>
            <a href="contacto.html" class="btn-1">Contacto</a>
        </div>
    </section>

    <section class="opiniones container">

        <h2>Qué dicen nuestros clientes:</h2>
        <p></p>

        <div class="opiniones-content">
            <div class="opiniones-1">
                <img src="img/EdgardoLopez.png" alt="">
                <h3>Edgardo Lopez 👍<br>★★★★★</h3>
                <p>
                    "Recomiendo este lugar totalmente si quieren hacer una juntada con amigos y comprar sanguchitos. Los de crudo y queso me fascinan."
                </p>
            </div>
            <div class="opiniones-1">
                <img src="img/FulanoDetal.png" alt="">
                <h3>Fulano de Tal<br>★★★☆☆</h3>
                <p>
                    "Siempre paso a comprar medialunas por la puerta. Me encantan las de grasa y las de manteca mmmmmm que rico se me hace agua la boca"
                </p>
            </div>
            <div class="opiniones-1">
                <img src="img/DonaErmenegilda.png" alt="">
                <h3>Doña Ermenegilda ✨<br>★★★★★</h3>
                <p>
                    "Mi nieta de 15 años tuvo que hacer la fiestita de XV y yo aún no sabia donde encargar el servicio de catering. Fué como si los angeles me escucharan que de repente un señor llamado 
                    Edgardo Lopez cayó del cielo y me dijo que tenía que hacer mi pedido en la Confiteria Codo a Codo o sino el universo iba a explotar. Entonces le hice caso. Luego el señor de un salto volvió a 
                    despegar y se fué volando entre las nubes. Nunca más lo volví a ver, pero jesucristo que deliciosos son los sandwiches de Confiteria Codo a Codo."
                </p>
            </div>
        </div>
        <a href="productos.html" class="btn-1">Quiero mi pedido. ¡YA!</a>
    </section>

    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>