<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/nosotros.css">
</head>
<body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main class="contenedor">
        <section class="contenedor-historia">
            <div class="historia">
                <h2>Nuestra historia</h2>
                <p>En el corazón del año 2020, en medio de un mundo que se reinventaba, surgió Codo a Codo Confitería y Catering. Más que una empresa, Codo a Codo es un sueño hecho realidad, un proyecto nacido del amor por la comida y la pasión por compartir momentos especiales.
                    Desde sus inicios, Codo a Codo se ha dedicado a ofrecer servicios de catering para empresas y personas, llevando el sabor y la alegría a cada ocasión. Su filosofía se basa en la elaboración artesanal de cada producto, utilizando ingredientes frescos y de alta calidad, para garantizar una experiencia culinaria única e inolvidable.
                </p>
            </div>
            <img src="img/equipo.jpg" alt="imagen historia">
        </section>
        <section class="contenedor-trabajos">
            <div class="trabajos">
                <h2>Nuestros trabajos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis at voluptate cumque harum repellendus beatae. Totam fugit alias cum rerum aliquid explicabo magnam praesentium sed dignissimos veritatis? Molestiae temporibus dignissimos nihil voluptates consectetur, sint ullam dolore similique possimus tempore et hic, qui dolores natus amet earum obcaecati optio. Placeat adipisci culpa atque fugit labore. Recusandae iure est aliquam distinctio illum necessitatibus quo tenetur, voluptatum voluptas minus tempora officia provident sint ipsa iste error magnam placeat quasi exercitationem facilis reiciendis. Nulla libero eum explicabo aperiam laudantium voluptatibus quasi, perferendis, adipisci non ea tenetur praesentium, laboriosam voluptatem! Cupiditate tenetur obcaecati illo itaque!</p>
            </div>
            <img src="img/trabajo.jpg" alt="imagen trabajos">
        </section>
        <section class="marcas">
            <h2>Marcas que confian en nosotros</h2>
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="./img/arcor.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/CocaColaRedCircle.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/kellogs.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/LaSerenisima.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/Nestle.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/QuakerOats.webp" alt="">
                    </div>

                    <div class="slide">
                        <img src="./img/arcor.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/CocaColaRedCircle.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/kellogs.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/LaSerenisima.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/Nestle.webp" alt="">
                    </div>
                    <div class="slide">
                        <img src="./img/QuakerOats.webp" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>