<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/productos.css" />
    <link rel="stylesheet" href="/css/producto.css">
  </head>
  <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main class="services" id="contenedor">
        <section class="listado">

        </section>
    </main>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
  </body>
  <script src="/js/navbar.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        const productos = <%- JSON.stringify(data) %>;

        const listado = document.querySelector('.listado')
        
        productos.forEach(producto => {

            const articulo = document.createElement('article')
            var nombre = producto.nombre
            var precio = producto.precio
            var id = producto.id

            articulo.innerHTML = `
            <h2>${nombre}</h2
            <p>precio: $${precio}</p>
            <button class="btn-agregar" data-id="${id}" data-precio="${precio}">agregar al carrito</button>
            `;
            listado.appendChild(articulo);
        });

    });
</script>
<script src="/js/pedido.js"></script>
</html>