<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="./css/productos.css" />
  </head>
  <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main class="services" id="contenedor">
      <h1 id="titulo">Nuestros productos</h1>
      <div id="productos">
        <article class="producto" data-categoria="COCKATIL FRIO Y CALIENTE">
          <img src="./img/producto1.webp" alt="COCKATIL FRÍO Y CALIENTE" />
          <h3>COCKATIL FRÍO Y CALIENTE</h3>
        </article>
        <article class="producto" data-categoria="FINGER FOOD">
          <img src="./img/producto2.webp" alt="FINGER FOOD" />
          <h3>FINGER FOOD</h3>
        </article>
        <article class="producto" data-categoria="MENU INFORMAL">
          <img src="./img/producto3.webp" alt="MENÚ INFORMAL" />
          <h3>MENÚ INFORMAL</h3>
        </article>
        <article class="producto" data-categoria="MENU FORMAL">
          <img src="./img/producto4.webp" alt="MENÚ FORMAL" />
          <h3>MENÚ FORMAL</h3>
        </article>
        <article class="producto" data-categoria="BUFFET FRIO Y CALIENTE">
          <img src="./img/producto5.webp" alt="BUFFET FRÍO Y CALIENTE" />
          <h3>BUFFET FRÍO Y CALIENTE</h3>
        </article>
        <article class="producto" data-categoria="POSTRES">
          <img src="./img/producto6.webp" alt="POSTRES" />
          <h3>POSTRES</h3>
        </article>
        <article class="producto" data-categoria="MESA DULCE">
          <img src="./img/producto7.webp" alt="MESA DULCE" />
          <h3>MESA DULCE</h3>
        </article>
        <article class="producto" data-categoria="SERVICIOS OPCIONALES">
          <img src="./img/producto8.webp" alt="SERVICIOS OPCIONALES" />
          <h3>SERVICIOS OPCIONALES</h3>
        </article>
      </div>
    </main>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
    <script src="./js/productos.js"></script>
    <script src="./js/navbar.js"></script>
  </body>
</html>
